<div class="flex h-screen">
    
    <%- include('../../../partials/adminTemplate.ejs') %>
        
    <div class="flex-1 flex flex-col sm:p-2">
        <div>
            <h1 class="bg-gradient-to-r from-indigo-400 mb-4 p-2 text-white">Edit Branch Information</h1>            
            <form action="/ccet/update-branch/<%= branch.id %>?_method=PUT" method="POST">                
                <table>
                    <tr>
                        <td>
                            <label>Branch Name : </label>
                        </td>
                        <td>
                            <input class="w-48 h-7 sm:w-60 sm:h-9 rounded-md" type="text" name="branchName" value="<%= branch.branchName %>">
                        </td>
                    </tr>                    
                    <tr>
                        <td>
                            <label>Center-in-charge : </label>
                        </td>
                        <td>
                            <input class="w-48 h-7 sm:w-60 sm:h-9 rounded-md" type="text" name="centerInCharge" value="<%= branch.centerInCharge %>">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Phone : </label>
                        </td>
                        <td>
                            <input class="w-48 h-7 sm:w-60 sm:h-9 rounded-md" type="text" name="contactNumber" value="<%= branch.contactNumber %>">
                        </td>
                    </tr>                        
                    <tr>
                        <td>
                            <label>Email : </label>
                        </td>
                        <td>
                            <input class="w-48 h-7 sm:w-60 sm:h-9 rounded-md" type="email" name="email" value="<%= branch.email %>">
                        </td>
                    </tr>            
                    <tr>
                        <td></td>
                        <td>
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Update Course</button>
                        </td>
                    </tr>
                </table>                        
            </form>

        </div>
            
        <div class="my-8">
            <h1 class="bg-gradient-to-r from-indigo-400 my-4 p-2 text-white">Our branches</h1>            
            <% if(!branches) { %>
                <p>Something went wrong..</p>
            <% } else { %>
            <% let branchArr = Object.values(branches) %>
            <div class="flex-1 relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-[98%] text-xs lg:text-base text-center text-blue-600 dark:text-blue-100">
                    <thead class="text-white uppercase bg-blue-600 dark:text-white">
                        <tr>
                            <th scope="col" class="lg:text-sm sm:p-2 md:px-4 md:py-2">Branch name</th>
                            <th scope="col" class="lg:text-sm sm:p-2 md:px-4 md:py-2">Center-in-charge</th>
                            <th scope="col" class="lg:text-sm sm:p-2 md:px-4 md:py-2">Phone</th>
                            <th scope="col" class="lg:text-sm sm:p-2 md:px-4 md:py-2 hidden lg:block">Email</th>  
                            <th scope="col" class="lg:text-sm sm:p-2 md:px-4 md:py-2">Update</th>
                            <th scope="col" class="lg:text-sm sm:p-2 md:px-4 md:py-2">Delete</th>
                        </tr>
                    </thead>

                    <% if(branchArr && branchArr.length > 0) { %>                        

                    <tbody>
                    <% branchArr.forEach(branch => { %>
                        <tr class="bg-blue-100 text-gray-700 border-b border-blue-300 hover:bg-blue-200 hover:text-gray-800">                
                            <td class="lg:text-sm sm:p-2 md:px-4 md:py-2">
                                <span id="coursename">
                                    <%= branch.branchName %>
                                </span>
                            </td>
                            <td class="lg:text-sm sm:p-2 md:px-4 md:py-2">
                                <span id="coursename">
                                    <%= branch.centerInCharge %>
                                </span>
                            </td>
                            <td class="lg:text-sm sm:p-2 md:px-4 md:py-2">
                                <span id="coursename">
                                    <%= branch.contactNumber %>
                                </span>
                            </td>
                            <td class="lg:text-sm sm:p-2 md:px-4 md:py-2 hidden lg:block lg:my-2">
                                <span id="coursename">
                                    <%= branch.email %>
                                </span>
                            </td>
                            <td class="lg:text-sm sm:p-2 md:px-4 md:py-2">
                                <a href="/ccet/branch-management/<%= branch._id %>">
                                    <button type="submit">
                                        <i class="fas fa-edit"></i></a>
                                    </button>
                                </a> 
                            </td>               
                            <td class="lg:text-sm sm:p-2 md:px-4 md:py-2">
                                <a href="/ccet/branch-management-delete/<%= branch._id %>"></a>
                                    <button class="deleteBtn">
                                        <i class="fas fa-trash"></i>
                                    </button>
                            </td>
                                           
                        </tr>
                        <% }) %>
                    </tbody>

                    <% } else { %>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="my-8 mx-2 text-gray-600">No records..</p>
                                </td>
                            </tr>
                        </tbody>                    
                    <% } %>

                </table>            
                <% } %>       
            </div>
        </div>

       <!-- Pagination -->       
       <%- include('../../../partials/pagination.ejs') %>

    </div>
</div>

<script src="../../../../js/main.js"></script>    
</body>
</html>