<div class="flex h-screen">
    <div class="w-64 bg-[#4d44b5]">
        <%- include('../../../partials/adminTemplate.ejs') %>
    </div>

    <div class="flex-1 flex flex-col p-4">
        <div class="flex bg-white justify-end p-4">
            <form action="/ccet/fees-management/filter-view" method="POST">
                <label>
                    Course : 
                </label>
                <select name="courseId">
                    <option value="">Select Course</option>
                    <% courses.forEach(course => { %>
                      <option value="<%= course._id %>" <%= course._id.toString() === locals.courseId ? 'selected' : '' %>>
                        <%= course.courseName %>
                      </option>
                    <% }) %>
                </select>
                <label>
                    Session
                </label>
                <select name="courseSession">
                    <option value="">Select Session</option>
                    <% const years = [2021, 2022, 2023]; %>
                    <% years.forEach(year => { %>
                      <option value="<%= year %>" <%= year.toString() === locals.courseSession ? 'selected' : '' %>>
                        <%= year %>
                      </option>
                    <% }) %>
                </select>  
                <label>
                    Student ID/ Name 
                </label>
                <input type="text" name="studentName">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Check Record</button>
            </form> 
        </div>
        <% if(students && students.length > 0) { %>
        <div class="flex-1 relative overflow-x-auto shadow-md sm:rounded-lg">            
            <table class="w-full text-sm text-left text-blue-600 dark:text-blue-100">
                <thead class="text-xs text-white uppercase bg-blue-600 dark:text-white">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Student name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Course Enrolled
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Fees paid on admission (excl.)
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Course fees paid
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <% students.forEach(student => { %>
                        <tr class="bg-blue-100 text-gray-700 border-b border-blue-300 hover:bg-blue-200 hover:text-gray-800">
                            <td class="px-6 py-4">
                                <%= student.studentName %>
                            </td>
                            <td class="px-6 py-4">
                                <%= student.courseEnrolled.courseName %>
                            </td>
                            <td class="px-6 py-4">
                                <%= student.fee.admissionFeesAmount %>
                            </td>
                            <td class="px-6 py-4">
                                <% if (Array.isArray(student.fee.totalFeesPaid)) { %>
                                    <%= Object.values(student.fee.totalFeesPaid).reduce((acc, val) => acc + val, 0) %>
                                <% } else { %>
                                    <p>Object</p>
                                <% } %>
                            </td>
                            <td class="px-6 py-4">
                                <a href="/ccet/fees-management/<%= student._id %>">
                                    <button type="submit">Record Payment</button>
                                </a>                        
                            </td>
                            <td class="px-6 py-4">
                                <a href="/ccet/fees-management/fees-history/<%= student._id %>">
                                    <button type="submit">view Fees History</button>
                                </a>                        
                            </td>
                        </tr>
                    <% }) %>
                </tbody>        
            </table>
        </div>
        <% } else { %>
            <div class="flex-1 relative overflow-x-auto shadow-md sm:rounded-lg">            
                <table class="w-full text-sm text-left text-blue-600 dark:text-blue-100">
                    <thead class="text-xs text-white uppercase bg-blue-600 dark:text-white">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Student name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Course Enrolled
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Fees paid on admission (excl.)
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Course fees paid
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    
                    <% if(students && students.length > 0) { %>
                        
                    <tbody>
                        <% students.forEach(student => { %>
                            <tr class="bg-blue-100 text-gray-700 border-b border-blue-300 hover:bg-blue-200 hover:text-gray-800">
                                <td class="px-6 py-4">
                                    <%= student.studentName %>
                                </td>
                                <td class="px-6 py-4">
                                    <%= student.courseEnrolled.courseName %>
                                </td>
                                <td class="px-6 py-4">
                                    <%= student.fee.admissionFeesAmount %>
                                </td>
                                <td class="px-6 py-4">
                                    <%= student.fee.admissionFeesAmount %>
                                </td>
                                <td class="px-6 py-4">
                                    <%= student.fee.lastPaymentDate %>
                                </td>
                                <td class="px-6 py-4">
                                    <a href="/ccet/fees-management/fees-history/<%= student._id %>">
                                        <button type="submit">view Fees History</button>
                                    </a>                        
                                </td>
                            </tr>
                        <% }) %>
                    </tbody> 
                    
                    <% } else { %>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="my-8 mx-2 text-gray-600">No records..</p>
                                </td>
                            </tr>
                        </tbody>                    
                    <% } %>

                </table>
            </div>
        <% } %>

        <!-- Pagination links goes here -->
        <% if (totalPages > 1) { %> <!-- Check if totalPages is greater than 1 -->
            <nav class="flex items-center justify-center m-8" aria-label="Page navigation">
              <% if (currentPage > 1) { %>
                <a class="mr-2 px-3 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" href="/ccet/fees-management/?page=<%= currentPage - 1 %>">Previous</a>
              <% } %>
              <% for (let i = 1; i <= totalPages; i++) { %>
                <a class="mr-2 px-3 py-2 bg-blue-200 text-blue-800 rounded hover:bg-blue-500 hover:text-white <% if (i === currentPage) { %>bg-blue-500 text-white<% } %>" href="/ccet/fees-management/?page=<%= i %>"><%= i %></a>
              <% } %>
              <% if (currentPage < totalPages) { %>
                <a class="mr-2 px-3 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" href="/ccet/fees-management/?page=<%= currentPage + 1 %>">Next</a>
              <% } %>
            </nav>
        <% } %>

    </div>

</div>

    
    
</body>

</html>