<%- include('../../../partials/adminTemplate.ejs') %>

    <div class="fixed top-0 left-64 w-full h-full bg-white">
        <h3>Search by filters</h3>
        <form action="/ccet/fees-management" method="POST">
            <label>
                Course : 
            </label>
            <select name="courseId">
                <% courses.forEach(course => { %>
                    <option value="<%= course._id %>">
                        <%= course.courseName %>
                    </option>
                <% }) %>
            </select>
            <label>
                Session
            </label>
            <select name="courseSession">            
                <option value="2021">2021</option>            
                <option value="2022">2022</option>
                <option value="2023">2023</option>
            </select>
            <label>
                Student ID/ Name 
            </label>
            <input type="text" name="studentName">
            <button type="submit">Check Record</button>
        </form>   

        <h3>Student</h3>
        <table>
            <thead>
                <tr>
                    <th>
                        Student name
                    </th>
                    <th>
                        Course Enrolled
                    </th>
                    <th>
                        Fees paid on admission (excl.)
                    </th>
                    <th>
                        Course fees paid
                    </th>
                </tr>
            </thead>

            <tbody>
                <% students.forEach(student => { %>
                    <tr>
                        <td>
                            <%= student.studentName %>
                        </td>
                        <td>
                            <%= student.courseEnrolled.courseName %>
                        </td>
                        <td>
                            <%= student.fee.admissionFeesAmount %>
                        </td>
                        <td>
                            <% if (Array.isArray(student.fee.totalFeesPaid)) { %>
                                <%= Object.values(student.fee.totalFeesPaid).reduce((acc, val) => acc + val, 0) %>
                            <% } else { %>
                                <p>Object</p>
                            <% } %>
                        </td>
                        <td>
                            <a href="/ccet/fees-management/<%= student._id %>">
                                <button type="submit">Record Payment</button>
                            </a>                        
                        </td>
                        <td>
                            <a href="/ccet/fees-management/fees-history/<%= student._id %>">
                                <button type="submit">view Fees History</button>
                            </a>                        
                        </td>
                    </tr>
                <% }) %>
            </tbody>        
        </table>
    </div>
    
</body>

</html>