<div class="flex h-screen">
    
    <%- include('../../../partials/adminTemplate.ejs') %>    
    
    <div class="flex-1 flex flex-col p-4">
        <div>
            <h1 class="bg-gradient-to-r from-indigo-400 mb-4 p-2 text-white">New Course</h1>            
            <form action="/ccet/add-course" method="POST">
                <table>
                    <tr>
                        <td>
                            <label>Course Name : </label>
                        </td>
                        <td>
                            <input class="w-48 h-7 sm:w-60 sm:h-9 rounded-md" type="text" name="course" value="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Course Duration : </label>
                        </td>
                        <td>
                            <input class="w-48 h-8 sm:w-60 sm:h-9 rounded-md" type="text" name="duration" value="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Course Fees : </label>
                        </td>
                        <td>
                            <input class="w-48 h-8 sm:w-60 sm:h-9 rounded-md" type="text" name="fees" value="">
                        </td>
                    </tr>            
                    <tr>
                        <td></td>
                        <td>
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-normal py-2 px-2 rounded" type="submit">Add Course</button>
                        </td>
                    </tr>
                </table>                        
            </form>
        </div>
            
        
            <h1 class="bg-gradient-to-r from-indigo-400 my-4 p-2 text-white">Available Courses</h1>            
            <% if(!courses) { %>
                <p>Something went wrong..</p>
            <% } else { %>
            <% let courseArr = Object.values(courses) %>
            
            <table class="w-[98%] sm:w-full text-xs lg:text-base text-center text-blue-600 dark:text-blue-100">
                <thead class="text-white uppercase bg-blue-600 dark:text-white">
                        <tr>
                            <th scope="col" class="lg:text-sm sm:p-2 md:px-4 md:py-2">Course name</th>
                            <th scope="col" class="lg:text-sm sm:p-2 md:px-4 md:py-2">Duration</th>
                            <th scope="col" class="lg:text-sm sm:p-2 md:px-4 md:py-2">Fees</th>
                            <th scope="col" class="lg:text-sm sm:p-2 md:px-4 md:py-2">Update</th>
                            <th scope="col" class="lg:text-sm sm:p-2 md:px-4 md:py-2">Delete</th>
                        </tr>
                    </thead>

                    <% if(courseArr && courseArr.length > 0) { %>                        

                    <tbody>
                    <% courseArr.forEach(e => { %>
                        <tr class="bg-blue-100 text-gray-700 border-b border-blue-300 hover:bg-blue-200 hover:text-gray-800">                
                            <td class="lg:text-sm sm:p-2 md:px-4 md:py-2">
                                <span id="coursename">
                                    <%= e.courseName %>
                                </span>
                            </td>
                            <td class="lg:text-sm sm:p-2 md:px-4 md:py-2">
                                <span id="courseduration">
                                    <%= e.courseDuration %> months
                                </span>
                            </td>
                            <td class="lg:text-sm sm:p-2 md:px-4 md:py-2">
                                <span id="coursefees">
                                    <%= e.courseFees %>
                                </span>
                            </td>
                            <td class="lg:text-sm sm:p-2 md:px-4 md:py-2"> 
                                <form class="mt-2" action="/ccet/course-management/<%= e.id %>" method="POST">
                                    <button type="submit">
                                        <i class="fas fa-edit"></i></a>
                                    </button>
                                </form>
                            </td>
                            <!-- <td class="lg:text-sm sm:p-2 md:px-4 md:py-2">
                                <form class="mt-2" action="/ccet/delete-course/<%= e.id %>?_method=DELETE" method="POST">
                                    <button type="submit">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>                                
                            </td> -->
                            <td class="lg:text-sm sm:p-2 md:px-4 md:py-2">
                                <form class="mt-2" action="/ccet/delete-course/<%= e.id %>?_method=PUT" method="POST">
                                  <input type="hidden" name="_method" value="PUT">
                                  <button type="submit">
                                    <i class="fas fa-trash"></i>
                                  </button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>

                    <% } else { %>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="my-8 mx-2 text-gray-600">No records..</p>
                                </td>
                            </tr>
                        </tbody>                    
                    <% } %>

                </table>            
                <% } %>       
            
            <!-- Pagination -->
        <%- include('../../../partials/pagination.ejs') %>
        

    </div>
</div>

<script src="../../../../js/main.js"></script>    
</body>
</html>