<div class="flex h-screen">
    
    <%- include('../../../partials/adminTemplate.ejs') %>
    
    <div class="flex-1 flex flex-col">
        <div class="w-[98%] md:w-full text-xs flex justify-end bg-white py-4">
            <form class="flex gap-4" action="/ccet/student-management/filter-view" method="POST">
                <span class="py-2">Filter search</span>
                <label class="flex items-center">
                    
                    <select name="courseId" class="w-28 h-8">
                        <option value="">Course</option>
                        <% courses.forEach(course => { %>
                          <option value="<%= course._id %>" <%= course._id.toString() === locals.courseId ? 'selected' : '' %>>
                            <%= course.courseName %>
                          </option>
                        <% }) %>
                    </select>                      
                </label>
                    
                <div>
                    <select name="courseSession" class="w-28 h-8">
                        <option value="">Session</option>
                        <% const years = [2021, 2022, 2023]; %>
                        <% years.forEach(year => { %>
                          <option value="<%= year %>" <%= year.toString() === locals.courseSession ? 'selected' : '' %>>
                            <%= year %>
                          </option>
                        <% }) %>
                    </select>                      
                </div>

                <div>
                    <button class="h-8 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>

        <!-- <div class="flex-1 relative overflow-x-auto shadow-md sm:rounded-lg"> -->
            <table class="w-[98%] md:w-full text-xs text-left text-blue-600 dark:text-blue-100">
                <thead class="text-white uppercase bg-blue-600 dark:text-white">
                    <tr>
                        <th scope="col" class="md:px-4 md:py-2">
                            Name
                        </th>
                        <th scope="col" class="md:px-4 md:py-2">
                            Education
                        </th>
                        <th scope="col" class="md:px-4 md:py-2">
                            Course Enrolled
                        </th>
                        <th scope="col" class="md:px-4 md:py-2">
                            Date of admission
                        </th>
                        <th scope="col" class="md:px-4 md:py-2">Admission Form</th>                        
                    </tr>            
                </thead>     

                <% if(students && students.length > 0) { %>
                    
                <tbody>                
                    <% students.forEach(student => { %>
                                
                        <tr class="bg-blue-100 text-gray-700 border-b border-blue-300 hover:bg-blue-200 hover:text-gray-800">
                            <td style="display:none" class="md:px-4 md:py-2">                
                                <%= student._id %>                
                            </td>
                            <td class="md:px-4 md:py-2">
                                <%= student.studentName %>
                            </td>
                            <td class="md:px-4 md:py-2">
                                <%= student.lastExamPassed %>
                            </td>
                            <td class="md:px-4 md:py-2">
                                <%= student.courseEnrolled.courseName %>
                            </td>
                            <td class="md:px-4 md:py-2">                
                                <%= student.enrollmentDate %>                
                            </td>
                            
                            <td class="md:px-4 md:py-2">             
                                <a href="/ccet/student-management/<%= student._id %>" target="popup" onclick="window.open('/ccet/student-management/<%= student._id %>','name','width=900,height=750')">                    
                                    View
                                </a>
                            </td>                                  
                        </tr>    
                    <% }) %>  
                </tbody>  

                <% } else { %>
                    <tbody>
                        <tr>
                            <td>
                                <p class="my-8 mx-2 text-gray-600">No records..</p>
                            </td>
                        </tr>
                    </tbody>                    
                <% } %>                
                
            </table>
        <!-- </div> -->
        
        <!-- Pagination links goes here -->
        <% if (totalPages > 1) { %> <!-- Check if totalPages is greater than 1 -->
            <nav class="flex items-center justify-center m-8" aria-label="Page navigation">
              <% if (currentPage > 1) { %>
                <a class="mr-2 px-3 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" href="/ccet/student-management/?page=<%= currentPage - 1 %>">Previous</a>
              <% } %>
              <% for (let i = 1; i <= totalPages; i++) { %>
                <a class="mr-2 px-3 py-2 bg-blue-200 text-blue-800 rounded hover:bg-blue-500 hover:text-white <% if (i === currentPage) { %>bg-blue-500 text-white<% } %>" href="/ccet/student-management/?page=<%= i %>"><%= i %></a>
              <% } %>
              <% if (currentPage < totalPages) { %>
                <a class="mr-2 px-3 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" href="/ccet/student-management/?page=<%= currentPage + 1 %>">Next</a>
              <% } %>
            </nav>
        <% } %>
    </div>
</div>

<script src="../../../../js/main.js"></script>
    


</body>
</html>
